# This site is used to configure github as
# a private npm repository
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
@username:registry=https://npm.pkg.github.com